* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  background-size: cover;
  background-position: center center;
}

#time {
  font-size: 8rem;
}
h1 {
  margin-bottom: 3rem;
}
h2 {
  margin-bottom: 2rem;
  opacity: 0.6;
}

@media (max-width: 700px) {
  #time {
    font-size: 4rem;
  }
}
